.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top_bar {
  margin-left: 40px !important;
  margin-right: 40px !important;
  border-bottom: 1px solid #cbd6e2;
  margin-bottom: 2.5rem;
  padding: 2.625rem 0 1.5rem;
  display: flex;
  width: calc(100% - 80px);
  justify-content: space-between;
}

.top_bar h1{
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 340;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 0 0 1px transparent;
  margin-bottom: 1.25rem;
  margin-top: 0;
  display: block;
  font-size: 28px;
  line-height: normal;
  margin: 0;
  padding-right: 1.75rem;
  color: #33475b;
}

.ant-table-wrapper {
  width: calc(100vw - 40px);
  margin: 0 20px;
}

.ant-form-item-label {
  text-align: start !important;
  padding-left: 27px !important;
}

.ant-card {
  margin-bottom: 12px !important;
}

.ant-drawer-body {
  height: calc(100vh - 115px);
  overflow: auto;
}

.submit-abs{
  position: absolute !important;
  bottom: 0px;
  width: 675px;
  background: #eeeeeead;
  margin-bottom: 0px !important;
  text-align: end;
  padding: 10px !important;
  opacity: 1;
}

